<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" ng-class="{'paginated': contactsView.count}">
            <div class="panel-heading"><h2>My Contacts</h2>
            </div>
            <table ng-table="tableContacts" border="0" width="100%" cellpadding="0" cellspacing="0"
                   template-pagination="custom/pager" ng-show="contactsView.count">
                <tr ng-repeat="contact in $data">
                    <td data-title="''" class="user-icon-col"><img src="images/samples/account.png"
                                                                   class="small-user-icon"></td>
                    <td data-title="'Username'" sortable="'username'">{{contact.username || 'noname'}}</td>
                    <td data-title="'Address'" sortable="'address'">
                       <a href="#" ng-click="userInfo(contact.address)">{{contact.address}}</a></td>
                    <td data-title="''"><a class="btn btn-dark-meant" ng-click="sendCrypti(contact.address)"><i
                            class="mdi-content-send left"></i>SEND
                    </a></td>
                    <td data-title="">
                        <div class="dropdown-more-group" dropdown><span class="table-more-actions" dropdown-toggle><span
                                class="dots"></span></span>
                            <ul class="list-group" role="menu">
                                <li class="list-group-item"><a href="#" clip-copy="contact.address">Copy Address</a>
                                </li>
                                <li ng-if="contact.username" class="list-group-item"><a href="#" clip-copy="contact.username">Copy Name</a></li>
                            </ul>
                        </div></td>
                </tr>
            </table>
            <div class="panel-body empty-body empty-table" ng-show="!contactsView.count">
                <p class="empty-state-icon"><i class="mdi-social-people medium"></i></p>
                <p class="empty-state-text">You don't have any contacts, try adding a new one!</p></div>
        </div>
    </div>
</div>
