<div class="top-margin"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>Latest Multisignature Transactions</h2>
            </div>
            <table ng-table="tableTransactions" border="0" width="100%" cellpadding="0" cellspacing="0"
                   template-pagination="custom/pager">
                <tr ng-class="{'voted': transaction.confirmations>=transaction.needed}" style="height: 63px;" ng-repeat="transaction in $data">
                    <td data-title="'Group Name'" sortable="'address'">{{transaction.address}}</td>
                    <td data-title="'Recipient'" sortable="'recipientId'">
                        {{transaction.recipientId}}
                    </td>
                    <td data-title="'Time'" sortable="'timestamp'">
                        {{transaction.timestamp | timeAgoFilter:false}}
                    </td>
                    <td data-title="'Amount'" sortable="'amount'">
                        {{transaction.amount | xcrFilter}}
                    </td>
                    <td data-title="'Fee'" sortable="'fee'">
                        {{transaction.fee | xcrFilter}}
                    </td>
                    <td data-title="'Confirmations'" sortable="'confirmations'">
                        {{transaction.confirmations}}/{{transaction.needed}}
                    </td>
                    <td data-title=""><a ng-if="transaction.confirmations<transaction.needed"
                                         class="btn btn-dark-meant"><i
                            class="mdi-action-done left"></i>CONFIRM
                    </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>My Multisignature Groups</h2>
            </div>
            <table ng-table="tableWallets" border="0" width="100%" cellpadding="0" cellspacing="0"
                   template-pagination="custom/pager">
                <tr  ng-repeat="wallet in $data">
                    <td data-title="'Group Name'" sortable="'address'">{{wallet.address}}</td>
                    <td data-title="'Members'" sortable="'confirmations'">
                       <a href="#" ng-click="showMembers()">{{wallet.confirmations}}</a>
                    </td>
                    <td data-title="'Confirmations required'" sortable="'needed'">
                        {{wallet.needed}}
                    </td>
                    <td data-title="''"><a class="btn btn-dark-meant" ui-sref="main.walletTransactions"><i class="material-icons left">beenhere</i>CONFiRMED TRANSACTIONS
                    </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

