bfg.jar
logs.log
logs.old.log
.project
.DS_Store
node_modules
npm-debug.log
.idea
.ed25519-node
blockchain.*
addresses.txt
public/bower_components/
public/static/
public/node_modules/
builded
public/build
public/webkitbuilds
public/tmp
0.2.0
