config2.json
nodejs/
results-
sqlite/
stacktrace*
logs.log
logs.old.log
.project
.DS_Store
node_modules
npm-debug.log
.idea/
.ed25519-node
blockchain.*
addresses.txt
builded
tmp
__MACOSX/
bfg.jar
*.zip
.directory
ssl/
dapps/
