<div class="modal">
    <div class="modal-content">
        <h1 class="heading">New address</h1>
        <form class="form">
            <input class="input-text" type="password" ng-model="secretPhrase" placeholder="Your SecretPhrase">
            <p class="error">{{fromServer}}</p>
            <div class="pull-right">
                <button type="submit" class="button green small" ng-disabled="!secretPhrase" ng-click="newAddress()">Generate</button>
                <button class="button small" ng-click="close()">Close</button>
            </div>
        </form>
    </div>
</div>