<div class="modal" id="block-modal">
    <div class="modal-content">
        <h1 class="heading">Transactions</h1>
        <div class="row-table">
        <table class="transactions" border="0" width="100%" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Fee</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.sender}}</td>
                <td>{{transaction.recipientId}}</td>
                <td>{{transaction.fee / 100000000 | feeFilter}}</td>
                <td>{{transaction.amount / 100000000 | feeFilter}}</td>
            </tr>
            <tr ng-show="!transactions || transactions.length == 0">
                <td colspan="5">
                    No transactions
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <button class="button green small close-modal" ng-click="close()">Close</button>
    </div>

</div>