<div class="modal">
    <div class="modal-content" id="companyModal">
        <h1 class="heading">New company</h1>
        <p class="description">
            Your company address entitles you to 50% of the fees paid for transactions made to your company address.
            Service Cost: <b>1000 XCR</b>. Your balance: <b>{{ totalBalance }} XCR</b>. Editing a company's information is not possible once the company has been created.
            Click "Get Token" to recieve further instructions.
        </p>
        <div class="instruction" ng-show="token">
            <b>Instructions: </b>
            <ul>
                <li>1. Double check form data</li>
                <li>2. Create a new .txt file named: <b>cryptixcr.txt</b></li>
                <li>3. Open cryptixcr.txt, paste in the token below and save the file. Token: {{ token }}</li>
                <li>4. Upload cryptixcr.txt file to the root dir of your website</li>
                <li>5. Check that the file is accessible:: <a href="http://{{ domain }}/cryptixcr.txt" target="_blank">http://{{ domain }}/cryptixcr.txt</a></li>
                <li>6. Click "Create company"</li>
            </ul>
        </div>
        <form style="margin-top: 10px;" class="form" autocomplete="off">
            <input class="input-text" type="text" ng-readonly="token" ng-model="companyName" placeholder="Company name (max 16 characters)" max-length="16">
            <input class="input-text" type="text" ng-readonly="token" ng-model="description" placeholder="Company description optional (max 120 characters)" max-length="120">
            <input class="input-text" type="text" ng-readonly="token" ng-model="domain" placeholder="Domain name (without www. prefix, max 256 characters)">
            <p class="error" ng-show="domainError">{{ domainError }}</p>
            <input class="input-text" type="text" ng-readonly="token" ng-model="email" placeholder="Email">
            <p class="error" ng-show="emailError">{{ emailError }}</p>
            <input class="input-text" type="text" value="1000 XCR (Service cost)" readonly>
            <input class="input-text" type="password" ng-readonly="token" ng-model="secretPhrase" placeholder="Your SecretPhrase" ng-trim="false">
            <input class="input-text" type="password" ng-readonly="token" ng-model="secondPhrase" placeholder="Your second secretPhrase" ng-show="secondPassphrase" ng-trim="false">
            <input class="input-text" type="text" ng-model="token" ng-show="token" readonly>
            <p class="error">{{fromServer}}</p>
            <div class="pull-right">
                <button type="{{ buttontype }}" class="button green small" ng-disabled="!secretPhrase || !email || !domain || !companyName || token || (secondPassphrase && !secondPhrase) ||  totalBalance < 1000" ng-show="!token" ng-click="getToken()">Get token</button>
                <button type="submit" class="button green small" ng-disabled="!secretPhrase || !email || !domain || !companyName || !token || (secondPassphrase && !secondPhrase) || totalBalance < 1000" ng-show="token"  ng-click="createCompany()">Create company</button>
                <button class="button small" ng-click="close()" ng-disabled="stopCancel">Close</button>
            </div>
        </form>
    </div>
</div>