<div class="app-modal">
    <div class="modal-content">

        <div class="modal-content">
            <div class="modal-header modal-iconed">
                <div class="close-modal" ng-click="passcheck()"><span class="sr-only">Close modal</span></div>
            </div>
            <div class="modal-header clearfix">
                <div><h2>Start Forging</h2>
                </div>
                <div>Please enter your passphrase below
                </div>
            </div>
            <div class="modal-body">

                <div class="input-group send-xcr">
                    <input type="password" class="form-control" placeholder="Your Passphrase" ng-model="secretPhrase"
                           ng-trim="false">
                </div>
            </div>

            <div class="modal-body">
                <ul class="nav modal-buttons pull-right">
                    <li>
                        <a href="#" ng-click="passcheck()">Cancel
                        </a>
                    </li>
                    <li><a href="#" ng-click="sendCrypti()">send xcr</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>