<div class="modal">
    <div class="modal-content">
        <h1 class="heading">Delegate Registration</h1>

        <div class="clearfix">
            <p class="lead">
                You need to register to become a delegate, this registration will costs you 10,000 XCR. For this purpose
                you can choose your own name, which can be used to promote your delegate to receive votes from other
                users. You will not forge if your delegate rank is lower than 101. The more votes you receive, the
                higher your rank.
            </p>
        </div>
		<form class="form" autocomplete="off">
            <input class="input-text" type="text" ng-model="username" placeholder="Your delegate name" autofocus>
            <input class="input-text" type="password" ng-model="secretPhrase" placeholder="Your SecretPhrase">
            <input class="input-text" type="password" ng-model="secondPassphrase" ng-show="isSecondPassphrase" placeholder="Your Second SecretPhrase">
            <p class="red" ng-show="error">{{error}}.</p>
            <div class="pull-right">
				<button type="submit" class="button green small" ng-disabled="!secretPhrase || !username || action"  ng-click="registrationDelegate()">Start</button>
                <button class="button small" ng-disabled="action" ng-click="close()">Close</button>
            </div>
        </form>
    </div>
</div>