<div class="app-modal">
    <div class="modal-content">
        <div class="modal-content" ng-show="!passmode">
            <div class="modal-header modal-iconed">
                <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
            </div>
            <div class="modal-header clearfix">
                <div><h2>Register as Delegate</h2>
                </div>
                <div>Please choose a delegate name
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group send-xcr">
                    <input type="text" class="form-control" placeholder="Delegate Name" ng-model="username" ng-trim="false">
                </div>
            </div>
            <div class="modal-body bordered">
                <span class="send-info-text">Becoming a delegate requires registration. You may choose your own delegate name, which can be used to promote your delegate. Convince other users to vote for your delegate to increase your rank. Only the top 101 delegates will be forging. All fees are shared equally between top delegates. Registration fee: 10,000 XCR.</span>
            </div>
            <div class="modal-body">
                <ul class="nav modal-buttons pull-right">
                    <li>
                        <a href="#" ng-click="close()">Cancel
                        </a>
                    </li>
                    <li><a href="#" ng-click="passcheck()">register</a></li>
                </ul>
            </div>
        </div>
        <div class="modal-content" ng-show="passmode">
            <div class="modal-header modal-iconed">
                <div class="close-modal" ng-click="passcheck()"><span class="sr-only">Close modal</span></div>
            </div>
            <div class="modal-header clearfix">
                <div><h2>Account Verification</h2>
                </div>
                <div>Please enter your passphrase below
                </div>
            </div>
            <div class="modal-body">

                <div class="input-group send-xcr">
                    <input type="password" class="form-control" placeholder="Your Passphrase" ng-model="secretPhrase" ng-class="{'error':error}"
                           ng-trim="false">
                    <span class="error-text" ng-show="error">{{error}}</span>
                </div>
            </div>

            <div class="modal-body">
                <ul class="nav modal-buttons pull-right">
                    <li>
                        <a href="#" ng-click="passcheck()">Cancel
                        </a>
                    </li>
                    <li><a href="#" ng-click="registrationDelegate()">register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>