<div class="modal">
    <div class="modal-content">
        <h1 class="heading">Add second passphrase</h1>
        <p class="description">
            Further protect your account with an optional secondary password. Please allow some time for changes to take effect. Service fee: <b>100 XCR</b>. Your balance: <b>{{balance}} XCR</b>b>.
        </p>
        <form class="form" style="margin-top: 20px;" autocomplete="off">
            <input class="input-text" type="{{type}}" ng-model="secretPhrase" placeholder="Primary password" ng-trim="false">
            <input class="input-text" type="{{type}}" ng-model="newSecretPhrase" placeholder="Secondary password" ng-trim="false">
            <input class="input-text" type="{{type}}" ng-model="repeatSecretPhrase" placeholder="Re-enter secondary password" ng-trim="false">
            <input type="checkbox" ng-model="showPassphrase" ng-change="changeType()"> <label>Show passwords in clear text?</label>
            <p class="error" style="margin-top: 10px;">{{fromServer}}.</p>
            <div class="pull-right">
                <button type="submit" class="button green small" ng-disabled="!repeatSecretPhrase || !newSecretPhrase || !secretPhrase || repeatSecretPhrase != newSecretPhrase || totalBalance < 100" ng-click="addNewPassphrase()">Generate</button>
                <button class="button small" ng-click="close()">Close</button>
            </div>
        </form>
    </div>
</div>