<div class="modal">
    <div class="modal-content">
        <h1 class="heading">Secondary password</h1>
        <p class="description">
            Further protect your account with an optional secondary password. Please allow some time for changes to take
            effect. Service fee: <b>{{sum}} XCR</b>. Your balance: <b>{{ totalBalance }} XCR</b>.
        </p>
        <form class="form" style="margin-top: 20px;" autocomplete="off">
            <input class="input-text" ng-disabled="sum=='~'" type="{{type}}" ng-model="secretPhrase" placeholder="Primary password" ng-trim="false">
            <input class="input-text" ng-disabled="sum=='~'" type="{{type}}" ng-model="newSecretPhrase" placeholder="Secondary password" ng-trim="false">
            <input class="input-text" ng-disabled="sum=='~'" type="{{type}}" ng-model="repeatSecretPhrase" placeholder="Re-enter secondary password" ng-trim="false">
            <input type="checkbox" ng-disabled="sum=='~'" ng-model="showPassphrase" ng-change="changeType()"> <label>Show passwords in clear text</label>
            <p class="error" style="margin-top: 10px;" ng-show="totalBalance < 100">You are missing {{(100 - totalBalance) | number : 2}} XCR.</p>
            <p class="error" style="margin-top: 10px;">{{fromServer}}.</p>
            <p class="loading" ng-show="sum=='~'" style="margin-top: 10px;">Loading network fee percent.</p>
            <div class="pull-right">
                <button type="submit" ng-disabled="sum=='~'" class="button green small" ng-disabled="sending || !repeatSecretPhrase || !newSecretPhrase || !secretPhrase || repeatSecretPhrase != newSecretPhrase || totalBalance < 100" ng-click="addNewPassphrase()">Generate</button>
                <button class="button small" ng-click="close()" ng-disabled="sending">Close</button>
            </div>
        </form>
        <div class="modal-overlay" ng-show="sending"></div>
    </div>
</div>