<div class="modal">
    <div class="modal-content">
        <h1 class="heading">Send Crypti</h1>
        <form class="form">
            <input class="input-text" type="text" ng-model="to" placeholder="To">
            <input class="input-text" type="number" ng-model="amount" placeholder="Amount" ng-change="recalculateFee()">
            <input class="input-text" type="number" ng-model="fee" placeholder="Fee" readonly>
            <input class="input-text" type="password" ng-model="secretPhrase" placeholder="Your SecretPhrase">
            <div class="pull-right">
                <button type="submit" class="button green small" ng-disabled="!to || !secretPhrase || !amount || !fee || amount + fee > totalBalance" ng-click="sendCrypti()">Send</button>
                <button class="button small" ng-click="close()">Close</button>
            </div>
        </form>
    </div>
</div>