<div class="app-modal">
    <div class="modal-content" ng-show="!passmode">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Send XCR</h2>
            </div>
            <div>Please type in an account name or ID below
            </div>
        </div>
        <div class="modal-body">
            <div class="input-group app-addon">
                <span class="input-group-addon search"></span>
                <input type="text" class="form-control" placeholder="Account name or ID" ng-model="to">
                <span class="input-group-addon clear"></span>
            </div>
            <div class="input-group send-xcr">
                <input type="text" class="form-control" placeholder="XCR Amount" ng-model="amount" ng-trim="false">
            </div>
        </div>
        <div class="modal-body bordered">
            <span class="send-info-text">Make sure you're sending XCR to the right contact. This action can't be undone later.</span>
        </div>
        <div class="modal-body">
            <ul class="nav modal-buttons pull-right">
                <li>
                    <a href="#" ng-click="close()">Cancel
                    </a>
                </li>
                <li><a href="#" ng-click="passcheck()">send xcr</a></li>
            </ul>
        </div>
    </div>
    <div class="modal-content" ng-show="passmode">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="passcheck()"><span class="sr-only">Close modal</span></div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Account Verification</h2>
            </div>
            <div>Please enter your passphrase below
            </div>
        </div>
        <div class="modal-body">

            <div class="input-group send-xcr">
                <input type="password" class="form-control" placeholder="Your Passphrase" ng-model="secretPhrase"
                       ng-trim="false" ng-class="{'error':errorMessage}">
                <span class="error-text" ng-show="errorMessage">{{errorMessage}}</span>
            </div>
        </div>

        <div class="modal-body">
            <ul class="nav modal-buttons pull-right">
                <li>
                    <a href="#" ng-click="passcheck()">Cancel
                    </a>
                </li>
                <li><a href="#" ng-click="sendCrypti()">send xcr</a></li>
            </ul>
        </div>
    </div>
</div>