<div class="app-modal">
	<div class="modal-content">
        <div class="modal-header"><h2>Vote for Delegates:</h2> this action will cost 100XCR</h2>

            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
        </div>
        <div class="modal-nav">
            <ul class="nav nav-vote">
                <li><a href="#"><span class="vote-icon"></span>CONFIRM VOTE</a></li>
                <li><a href="#" ng-click="close()"><span class="cancel-icon"></span>CANCEL</a></li>

            </ul>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item">Delegate 1<span class="pull-right"></span>
                </li>
                <li class="list-group-item bordered">Delegate 2<span class="pull-right"></span>
                </li>


            </ul>
        </div>
	</div>
</div>