<div class="app-modal">
	<div class="modal-content">
		<div class="clearfix">
			<h1 class="heading">Vote</h1>
		</div>
		<div class="clearfix">
			<p class="lead">
				Your current voting weight is {{totalBalance}} XCR. It will cost you 1 XCR to vote.
			</p>
		</div>
		<form class="form" autocomplete="off">
			<input class="input-text" type="password" ng-model="secretPhrase" placeholder="Your secretPhrase"
				   ng-trim="false">
			<input class="input-text" type="password" ng-model="secondPhrase" placeholder="Your second secretPhrase"
				   ng-show="secondPassphrase" ng-trim="false">

			<p class="error">{{fromServer}}.</p>

			<div class="pull-right">
				<button type="submit" class="button green small"
						ng-show="adding" ng-disabled="voting  || !secretPhrase || (secondPassphrase && !secondPhrase)" ng-click="vote()">
					Vote
				</button>
				<button type="submit" class="button green small"
						ng-show="!adding" ng-disabled="voting  || !secretPhrase || (secondPassphrase && !secondPhrase)"
						ng-click="vote()">
					Remove vote
				</button>
				<button class="button small" ng-click="close()">Close</button>
			</div>
		</form>
	</div>
</div>