#account{
    #paddingFix {
        .button {
            margin: 0px;
            padding: 15px 13px 13px;

            &.label {
            width: 235px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            }
        }
    }

    .raw-buttons{
        #buttons{
            display: inline-block;

            .container{
                display: inline-block;
            }
        }
        .send, .free{
            width: 141px;
        }
    }

    #transactions {
        margin-bottom: 20px;
    }
}