#block-modal {
  .modal-content {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    max-height: 600px;
    height: 600px;

    .row-table {
      overflow: auto;
      width: 100%;
      height: 500px;
      max-height: 500px;
    }
  }
}