.st-blurred-region {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px)
}

.st-blurred-region-overlay {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  -webkit-overflow-scrolling: touch
}

.st-blurred-region-close {
  display: none;

}

.st-blurred-region-close:hover {

}

.st-blurred-region-close:focus {

}

.st-blurred-modal-vertical-center {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-perspective: 1px;
  -webkit-transition: 200ms opacity;
  bottom: 0;
  display: -webkit-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.st-blurred-modal {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  position: relative;
  -webkit-perspective: 1px;
  width: 400px;
  padding: 25px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background: #61b26e;
  border: 2px solid #50955c;
  .searchText {
    display: inline-block;
    width: 320px;
    padding: 12px 0 0 10px;
  }
  .errorText {
    display: inline-block;
    width: 320px;
    padding: 8px 0 0 10px;
  }
  .icon {
    display: inline-block;
    float: left;
    background-size: 64px 64px;
    background-image: url('../..@{images}/search_peer.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
  }
  &.red {
    background: #ED4A4A;
    border: 2px solid #E67A7A;
    .icon {
      background-image: url('../..@{images}/error_peer.png');
    }
  }
  .button {
    margin: 16px 0 0 0;
    display: block;
    float: right
  }
}

.spin-load {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(3600deg);
  }
  to {
    transform: rotate(0deg);
  }
}
