.app-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  top: 0;
  left: 0;
  #send-modal {
    @media (min-width: @screen-xs-max) {
      margin-left: 250px;
    }
  }
  .modal-content {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 600px;
    margin-left: -312.5px;
    background: @grey;
    border-radius: @border-radius;
    .modal-header {
      &.modal-iconed {
        background-color: @menu-background;
        background-image: url('@{images}/logo-white.png');
        background-position: center;
        background-repeat: no-repeat;
        margin: -1px;
        height: 100px;
        .close-modal {
          top: 26px;
          background-position: -85px -26px;
        }
      }
      font-size: 14px;
      padding: 20px 50px 40px;
      margin: 25px 0 0;
      text-align: center;
      line-height: 24px;
      position: relative;
      .multiline {
        width: 100%;
        text-align: left;
      }
      h2 {
        display: inline;
      }
      .close-modal {
        position: absolute;
        top: 10px;
        right: 30px;
        width: 14px;
        height: 14px;
        background-image: url('@{images}/sprites/iconset.png');
        background-repeat: no-repeat;
        cursor: pointer;
        background-position: -54px -14px;
      }
      h2 {
        font-size: @graph-heading;
        font-weight: 600;
      }

    }
    .modal-chapter {
      border-top: 1px solid @border-grey;
      background-color: @white;
      padding: 20px 50px;
      h2 {
        font-size: @graph-heading;
        font-weight: 600;
        display: inline;
      }
      .chapter-more {
        font-size: @content-text;
        cursor: pointer;
        &.open {
          &:after {
            background-position: -85px -12px;
          }

        }
        &:after {
          display: block;
          float: right;
          margin-left: 10px;
          margin-right: -10px;
          margin-top: 3px;
          content: '';
          width: 12px;
          height: 7px;
          background-image: url('@{images}/sprites/iconset.png');
          background-repeat: no-repeat;
          background-position: -85px -19px;

        }
      }
    }
    .modal-nav {
      border-bottom: 1px solid @border-grey;
      background-color: @white;
    }
    .modal-body {
      padding: 0;
      &.bordered {
        border-top: 1px solid @border-grey;
      }
      .list-group {
        background-color: @grey;
        border: none;
        border-radius: 0;
        border: none;
        &.transactions {
          padding: 20px 30px;
          margin-bottom: 0;
          .list-group-item {
            margin-top: 20px;
            padding: 0;
            background-color: #eceff1 !important;
            border-radius: 2px;
            border: 1px solid #cfd8dc;
            .transaction-data {
              font-weight: normal;
              font-size: 14px;
              padding: 20px 26px;
              border-bottom: 1px solid #cfd8dc;
            }
            .transaction-bottom {
              font-weight: normal;
              font-size: 14px;
              padding: 12px 26px;
              .fee {
                color: white;
                display: inline-block;
                padding: 10px;
                border-radius: 2px;
                background-color: #b0bec5;
              }
              .xcr {
                margin-left: 15px;
                float: right;
                display: inline-block;
                padding: 10px;
                color: white;
                border-radius: 2px;
                background-color: #37474f;
              }
              .confirmations {
                float: right;
                display: inline-block;
                padding: 10px;
                color: #fff;
                border-radius: 2px;
                background-color: #7cb342;
              }
            }
            .transaction-path {
              font-weight: normal;
              font-size: 14px;
              padding: 12px 26px;
              border-bottom: 1px solid #cfd8dc;
              .transaction-direction {
                display: inline-block;
                height: 46px;
                width: 62px;
              }
              .transaction-part {
                display: inline-block;
                padding: 16px 12px;
                background-color: white;
                border-radius: 2px;
                width: 302px;
                .xcr {

                  display: inline-block;
                  float: right;
                }
              }
            }
          }
        }
        .list-group-item {
          border: 0;
          padding: 16px 40px;
          background-color: @grey;
          font-size: @normal-text;
          font-weight: bold;
          .small-text {
            font-weight: normal;
            font-size: @content-text;
          }
          &:nth-child(even) {
            background-color: @even-grey;
          }
        }

      }
    }

    .modal-text {
      margin-top: 50px;
      display: block;
      clear: both;
      text-align: center;
    }
  }
  .err {
    border: 1px solid red;
  }
  p.fee {
    margin: 0 0 10px 5px;
  }
  p.error {
    color: #ed4a4a;
    font-size: 13px;
  }
}