.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  top: 0;
  left: 0;

  .modal-content {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 600px;
    margin-left: -312.5px;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    .modal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      background-color: white;
      background-image: url('../..@{images}/spinn.gif');
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.6;
    }
    .close-modal {
      margin-top: 20px;
      float: right;
    }

    .modal-text {
      margin-top: 50px;
      display: block;
      clear: both;
      text-align: center;
    }
  }
  .err {
    border: 1px solid red;
  }
  p.fee {
    margin: 0 0 10px 5px;
  }
  p.error {
    color: #ed4a4a;
    font-size: 13px;
  }

  p.loading {
    color: #777;
    font-size: 13px;
  }
}