#pass{
    background-color: #35393b;
    height: 100%;
}

#logo-black{
    background-image: url('@{images}/logo.png');
    background-repeat: no-repeat;
    height: 37px;
    width: 126px;
    margin: 0 auto;
}

#center{
    position: absolute;
    width: 400px;
    height: 188px;
    margin-top: -94px;
    margin-left: -200px;
    left: 50%;
    top: 50%;
}
#enter{
    font-size: 13px;
    width: 350px;
    border: 1.5px solid #777;
    display: block;
    height: 25px;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 15px;
    color: #777;
    border-radius: 9px;
}

#enter:focus { outline: none; }
#login{
    margin: 10px 0 0 282px;
    font-size: 13px;
    padding: 15px;
}

#message {
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 500px;
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
  margin-left: -250px;
  color: #777;
}