<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content" ng-show="!passmode">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>Add second passphrase</h2>
                        </div>
                        <div> Further protect your account with an optional second passphrase!
                            Please allow some time for changes to take effect. Service Cost <b>{{fee | xcrFilter}}
                                XCR</b>. Your
                            balance: <b>{{totalBalance | xcrFilter}} XCR</b>.
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="passcheck()">
                            <div class="field-padding">
                                <div class="input-field">
                                    <input ng-focus="focus=='secondPass'" id="newSecretPhrase" type="password"
                                           ng-model="newSecretPhrase" ng-trim="false"
                                           ng-class="{'invalid': errorMessage}">
                                    <label for="newSecretPhrase">New second password</label>
                                </div>
                                <div class="input-field">
                                    <input id="repeatSecretPhrase" type="password" ng-model="repeatSecretPhrase"
                                           ng-trim="false"
                                           autofocus
                                           ng-class="{'invalid': errorMessage}">
                                    <label for="repeatSecretPhrase">Repeat second password</label>
                                </div>
                                <span class="pass-error"
                                      ng-show="fromServer && rememberedPassword">{{fromServer}}</span>
                            </div>
                            <input type="submit" ng-show="false">
                        </form>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="close()">Cancel
                                </a>
                            </li>
                            <li><a href="#" class="green-link" ng-click="passcheck()">add second passphrase</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-content" ng-show="passmode">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>Account Verification</h2>
                        </div>
                        <div>Please enter your passphrase below
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="addNewPassphrase(secretPhrase)">
                            <div class="field-padding">
                                <div class="input-field">
                                    <input ng-focus="focus=='pass'" id="passPhrase" type="password"
                                           ng-model="secretPhrase"
                                           ng-trim="false" autofocus
                                           ng-class="{'invalid': errorMessage}">
                                    <label for="passPhrase">Your Passphrase</label>
                                </div>
                                <span class="pass-error" ng-show="fromServer">{{fromServer}}.</span>
                            </div>
                            <input type="submit" ng-show="false">
                        </form>
                    </div>

                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="passcheck()">BACK
                                </a>
                            </li>
                            <li><a href="#" class="green-link" ng-click="addNewPassphrase(secretPhrase)">add second
                                passphrase</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>