extends layout
block content
    form(action='/auth',method='post')
        div
            input(type='text',placeholder='Login')
        div
            input(type='password',placeholder='Password')
        div
            input(type='submit',value='Log In')