doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(language="javascript", src="/js/angular.min.js")
  body
    block content
  footer
      a Автор: Инютин М.Н.