<!DOCTYPE html>
<html ng-app="webApp">
    <head>
        <meta charset="UTF-8">
        <title>Crypti - crypto currency</title>
        <link rel="shortcut icon" href="/images/favicon.ico">

        <link rel="stylesheet" href="/static/css/app.css">
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        <div ui-view class="height"></div>
        <% if (showAdmin){ %>
        <div id="forgingButton" class="forging-link">
            <a href="/panel/forging" target="_blank" class="button small green">Forging panel</a>
        </div>
        <% } %>
    </body>
</html>