/*JOINT STYLES*/
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
html,
body {
  height: 100%;
  position: relative;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.height {
  height: 100%;
}
.partials-rules {
  padding: 26px 25px 0 25px;
}
h1 {
  font-size: 18px;
  font-weight: bold;
  color: #4f5051;
  margin-top: 5px;
}
h1.heading {
  float: left;
}
h2.account-id {
  font-size: 15px;
  font-weight: bold;
  color: #9b9d9e;
  float: right;
  margin-top: 8px;
}
h2.account-id a {
  color: #9b9d9e;
}
h3.start-red {
  font-size: 14px;
  font-weight: bold;
  color: #b25b5b;
  display: inline-block;
}
.red {
  color: #b25b5b;
}
.green {
  color: #61b26e;
}
h3.start-green {
  color: #61b26e;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.raw-buttons {
  min-width: 986px;
  height: 56px;
  margin-top: 26px;
  margin-bottom: 22px;
}
.button {
  border: none;
  margin: 0 0 0 26px;
  box-sizing: border-box;
  padding: 15px 16px 13px 16px;
  background-color: #fff;
  color: #9b9d9e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #d4d5d6;
  -moz-box-shadow: 0px 3px 0px #d4d5d6;
  box-shadow: 0px 3px 0px #d4d5d6;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.button:first-child {
  margin: 0;
}
.button:focus {
  outline: none;
}
.button:active {
  top: 3px;
  -webkit-box-shadow: 0px 0px 0px #d4d5d6;
  -moz-box-shadow: 0px 0px 0px #d4d5d6;
  box-shadow: 0px 0px 0px #d4d5d6;
}
.button.green {
  background-color: #61b26e;
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px #50955c;
  -moz-box-shadow: 0px 3px 0px #50955c;
  box-shadow: 0px 3px 0px #50955c;
}
.button.green:active {
  top: 3px;
  -webkit-box-shadow: 0px 0px 0px #50955c;
  -moz-box-shadow: 0px 0px 0px #50955c;
  box-shadow: 0px 0px 0px #50955c;
}
.button.green:disabled {
  top: 0px;
  background-color: rgba(97, 178, 110, 0.3);
  -webkit-box-shadow: 0px 3px 0px rgba(80, 149, 92, 0.3);
  -moz-box-shadow: 0px 3px 0px rgba(80, 149, 92, 0.3);
  box-shadow: 0px 3px 0px rgba(80, 149, 92, 0.3);
}
.button.red {
  background-color: #ED4A4A;
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px #E67A7A;
  -moz-box-shadow: 0px 3px 0px #E67A7A;
  box-shadow: 0px 3px 0px #E67A7A;
}
.button.red:active {
  top: 3px;
  -webkit-box-shadow: 0px 0px 0px #E67A7A;
  -moz-box-shadow: 0px 0px 0px #E67A7A;
  box-shadow: 0px 0px 0px #E67A7A;
}
.button.red:disabled {
  top: 0px;
  background-color: rgba(237, 74, 74, 0.3);
  -webkit-box-shadow: 0px 3px 0px rgba(230, 122, 122, 0.3);
  -moz-box-shadow: 0px 3px 0px rgba(230, 122, 122, 0.3);
  box-shadow: 0px 3px 0px rgba(230, 122, 122, 0.3);
}
.button.static {
  cursor: default;
}
.button.static:active {
  top: 0;
  -webkit-box-shadow: 0px 3px 0px #d4d5d6;
  -moz-box-shadow: 0px 3px 0px #d4d5d6;
  box-shadow: 0px 3px 0px #d4d5d6;
}
.button.small {
  font-size: 13px;
  padding: 7px;
}
.button span {
  color: #4f5051;
}
.button div.coin {
  display: inline-block;
  margin-left: 5px;
  background-image: url('../../images/coin.png');
  background-repeat: no-repeat;
  height: 15px;
  width: 10px;
  vertical-align: middle;
}
.row {
  height: 31px;
}
table {
  margin-top: 25px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px #dbdcdd;
  -moz-box-shadow: 0px 1px 0px #dbdcdd;
  box-shadow: 0 1px 0 #dbdcdd;
}
table th {
  color: #9b9d9e;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  border-bottom: 1px solid #ebeced;
}
table td {
  color: #9b9d9e;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
table tr {
  height: 46px;
}
table tr.green td {
  color: #61b26e;
}
.pointer {
  cursor: pointer;
  text-decoration: underline;
}
.pointer:hover {
  color: black;
}
.form {
  display: block;
  margin-top: 50px;
}
.form .input-text {
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  color: #777;
  width: 100%;
  outline: 0;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form .input-text:active {
  outline: 0;
}
.form .button {
  margin-top: 20px;
  margin-left: 5px;
  display: inline-block;
}
label {
  font-size: 14px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
p.description {
  font-size: 14px;
  clear: both;
  margin-top: 40px;
  line-height: 1.3;
}
.instruction {
  font-size: 14px;
  width: 100%;
  position: relative;
  line-height: 1.3;
  margin-top: 5px;
  list-style-type: circle;
}
.instruction ul {
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
}
.instruction ul li {
  display: block;
  word-wrap: break-word;
  width: 100%;
  margin-left: 15px;
  margin-top: 2px;
}
#companyModal {
  top: 5%;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.back-label {
  color: #4f5051;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 13px;
  font-weight: bold;
}
.back-label a {
  text-decoration: none;
  color: #4f5051;
}
.back-label a.disabled {
  color: #4f5051;
}
.forging-link {
  color: #4f5051;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 13px;
  font-weight: bold;
}
.forging-link a {
  text-decoration: none;
  color: #4f5051;
}
.forging-link a.disabled {
  color: #4f5051;
}
.syncLabel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 230px;
  line-height: 1.25;
  background: rgba(0, 0, 0, 0.2);
  font-size: 13px;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
}
#message-error {
  display: block;
  width: 492px;
  line-height: 1.6;
  margin: 15px auto 0 auto;
  font-size: 13px;
  text-align: center;
  color: #F24A65;
}
/*END OF JOINT STYLES*/
#left-nav {
  min-height: 486px;
  width: 224px;
  height: 100%;
  position: relative;
  background-color: #35393b;
  float: left;
}
#logo {
  margin: 26px auto 26px;
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  height: 33px;
  width: 94px;
}
#menu {
  padding-top: 62px;
}
#menu li {
  position: relative;
  height: 30px;
  margin-bottom: 26px;
  list-style: none;
  padding-left: 26px;
  color: #fff;
  opacity: 0.2;
}
#menu li:hover {
  opacity: 0.5;
}
#menu li.active {
  opacity: 1;
}
#menu li.active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 30px;
  background-color: #62b670;
}
#menu li a {
  color: #fff;
}
#menu #submenu li {
  padding-left: 52px;
}
span.menu-text {
  display: inline-block;
  padding-top: 6px;
  padding-left: 16px;
  font-weight: bold;
  font-size: 15px;
}
#account-icon {
  background-image: url('../../images/account.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 38px;
  float: left;
}
#forging-icon {
  background-image: url('../../images/forging.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 38px;
  float: left;
}
#blockchain-icon {
  background-image: url('../../images/blockchain.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 38px;
  float: left;
}
#logout-icon {
  background-image: url('../../images/logout.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 38px;
  float: left;
}
#delegates-icon {
  background-image: url('../../images/delegates.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 38px;
  float: left;
}
#votes-icon {
  background-image: url('../../images/votes.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 38px;
  float: left;
}
#logout-item {
  width: 198px;
  position: absolute;
  bottom: 102px;
  left: 0px;
  height: 30px;
  list-style: none;
  padding-left: 26px;
  color: #fff;
  opacity: .2;
}
@media (max-height: 560px) {
  #logout-item {
    position: relative;
    bottom: 0;
  }
}
#logout-item:hover {
  color: #fff;
  opacity: 1;
}
#logout-item a {
  color: #fff;
}
#inc {
  font-size: 14px;
  width: 198px;
  position: absolute;
  bottom: 30px;
  left: 0px;
  padding-left: 26px;
  color: #606365;
}
#right-part {
  background-color: #ebeced;
  height: 100%;
  overflow-y: scroll;
}
#account #paddingFix .button {
  margin: 0px;
  padding: 15px 13px 13px;
}
#account #paddingFix .button.label {
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#account #paddingFix .button.label.forging {
  width: inherit;
}
#account .raw-buttons #buttons {
  display: inline-block;
}
#account .raw-buttons #buttons .container {
  display: inline-block;
}
#account .raw-buttons .send,
#account .raw-buttons .free {
  width: 141px;
}
#account #transactions {
  margin-bottom: 20px;
}
#blockchain #blocks {
  margin-bottom: 20px;
}
#forging {
  float: right;
}
#left-col {
  float: left;
  width: 48.7%;
}
#right-col {
  float: right;
  width: 48.7%;
}
#newAddress {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}
#blocks {
  margin-bottom: 20px;
}
#feeForged {
  width: 106px;
  max-width: 106px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#pass {
  background-color: #ebeced;
  height: 100%;
}
#logo-grey {
  background-image: url('../../images/logo_grey.png');
  background-repeat: no-repeat;
  height: 33px;
  width: 94px;
  margin: 0 auto 42px auto;
}
#logo-grey sup {
  margin-left: 100px;
  font-weight: 700;
  opacity: .5;
  font-size: 13px;
  vertical-align: top;
  text-transform: uppercase;
}
#login-form {
  width: 526px;
  height: 250px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.07);
}
#center {
  position: absolute;
  width: 526px;
  height: 295px;
  margin-top: -210px;
  margin-left: -263px;
  left: 50%;
  top: 50%;
}
#enter {
  font-size: 13px;
  width: 490px;
  border: 1px solid #bbb;
  height: 44px;
  padding: 0 15px;
  color: #8e8e8e;
  margin: 16px 16px 0 16px;
  display: inline-block;
  border-radius: 9px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#enter:focus {
  outline: none;
}
#login {
  display: block;
  margin: 40px auto 0 auto;
  font-size: 13px;
  padding: 15px 23px 13px 20px;
}
#message {
  display: block;
  width: 492px;
  line-height: 1.6;
  margin: 15px auto 0 auto;
  font-size: 13px;
  color: #939495;
}
#message-error {
  display: block;
  width: 492px;
  line-height: 1.6;
  margin: 15px auto 0;
  font-size: 13px;
  text-align: center;
  color: #F24A65;
}
.loading {
  text-align: center;
}
.loading h3 {
  color: #939495;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  top: 0;
  left: 0;
}
.modal .modal-content {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 600px;
  margin-left: -312.5px;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
}
.modal .modal-content .close-modal {
  margin-top: 20px;
  float: right;
}
.modal .modal-content .modal-text {
  margin-top: 50px;
  display: block;
  clear: both;
  text-align: center;
}
.modal .err {
  border: 1px solid red;
}
.modal p.fee {
  margin: 0 0 10px 5px;
}
.modal p.error {
  color: #ed4a4a;
  font-size: 13px;
}
#block-modal .modal-content {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  max-height: 600px;
  height: 600px;
}
#block-modal .modal-content .row-table {
  overflow: auto;
  width: 100%;
  height: 500px;
  max-height: 500px;
}
.admin-form {
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.07);
  clear: both;
}
.admin-form #forgingSettings {
  float: right;
  margin-top: 10px;
}
.admin-form #saveToFile {
  margin-left: 16px;
}
.admin-form .checkbox-label {
  font-size: 13px;
  color: #4f5051;
}
.admin-form .fix {
  margin-bottom: 16px !important;
}
#spinn {
  background-image: url('../../images/spinn.gif');
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  float: left;
  margin-right: 10px;
}
.vote-delegates {
  float: right;
}
.vote-delegates h2 {
  font-size: 15px;
  font-weight: bold;
  color: #9b9d9e;
  margin-top: 8px;
  margin-right: 20px;
  display: inline-block;
}
.vote-delegates button {
  margin: 0;
}
.lead {
  margin-top: 50px;
}
.button-vote {
  width: 70px;
}
.ng-table tr.voted button {
  position: relative;
}
.ng-table tr.voted button .tollip {
  min-width: 120px;
  padding: 15px 16px;
  display: none;
  position: absolute;
  z-index: 999;
  top: 45px;
  right: -50px;
  background-color: #ffffff;
  list-style-type: none;
  color: #9b9d9e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d4d5d6;
}
.ng-table tr.voted button .tollip:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 8px solid #d4d5d6;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  right: 76px;
  top: -8px;
}
.ng-table tr.voted button:hover .tollip {
  display: inline-block;
}
.vote-navigation {
  position: relative;
  display: inline-block;
}
.vote-navigation .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vote-navigation ul {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  list-style-type: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #50955c;
  -moz-box-shadow: 0 3px 0 #50955c;
  box-shadow: 0 3px 0 #50955c;
}
.vote-navigation ul li {
  padding: 15px 16px;
  color: #50955c;
}
.vote-navigation.active .overlay {
  display: block;
  z-index: 99998;
}
.vote-navigation.active ul {
  display: block;
  z-index: 99999;
}
.ng-table-label {
  min-width: 986px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.ng-table-label h2 {
  font-weight: 600;
  color: #4f5051;
}
.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background-color: #ffffff;
  text-shadow: none;
}
.ng-table th.sortable div:after,
.ng-table th.sortable div:before {
  border-color: #50955c transparent;
}
.ng-table th.sortable div:before {
  border-top: 4px solid #50955c;
}
.ng-table th.sortable.sort-asc div:before {
  border-top: 4px solid #50955c;
}
.ng-table th.sortable.sort-desc div:after {
  border-top: 4px solid #50955c;
}
.ng-table tr.voted {
  background-color: rgba(97, 178, 110, 0.02);
}
.ng-table-pager {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 26px;
}
.btn {
  border: none;
  margin: 0 0 0 4px;
  box-sizing: border-box;
  padding: 8px 12px 7px;
  background-color: #fff;
  color: #9b9d9e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #d4d5d6;
  -moz-box-shadow: 0px 3px 0px #d4d5d6;
  box-shadow: 0px 3px 0px #d4d5d6;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.btn:first-child {
  margin: 0;
}
.btn:focus {
  outline: none;
}
.btn:active {
  top: 3px;
  -webkit-box-shadow: 0px 0px 0px #d4d5d6;
  -moz-box-shadow: 0px 0px 0px #d4d5d6;
  box-shadow: 0px 0px 0px #d4d5d6;
}
.btn.active {
  background-color: #61b26e;
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px #50955c;
  -moz-box-shadow: 0px 3px 0px #50955c;
  box-shadow: 0px 3px 0px #50955c;
}
.btn.active:active {
  top: 3px;
  -webkit-box-shadow: 0px 0px 0px #50955c;
  -moz-box-shadow: 0px 0px 0px #50955c;
  box-shadow: 0px 0px 0px #50955c;
}
.btn.active:disabled {
  top: 0px;
  background-color: rgba(97, 178, 110, 0.3);
  -webkit-box-shadow: 0px 3px 0px rgba(80, 149, 92, 0.3);
  -moz-box-shadow: 0px 3px 0px rgba(80, 149, 92, 0.3);
  box-shadow: 0px 3px 0px rgba(80, 149, 92, 0.3);
}
.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 3px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #9b9d9e;
  text-decoration: none;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px 3px 0px #d4d5d6;
  -moz-box-shadow: 0px 3px 0px #d4d5d6;
  box-shadow: 0px 3px 0px #d4d5d6;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #61b26e;
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px #50955c;
  -moz-box-shadow: 0px 3px 0px #50955c;
  box-shadow: 0px 3px 0px #50955c;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #61b26e;
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px #50955c;
  -moz-box-shadow: 0px 3px 0px #50955c;
  box-shadow: 0px 3px 0px #50955c;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  top: 0px;
  color: #9b9d9e;
  text-decoration: none;
  background-color: #e4e5e6;
  border: none;
  -webkit-box-shadow: 0px 3px 0px #d4d5d6;
  -moz-box-shadow: 0px 3px 0px #d4d5d6;
  box-shadow: 0px 3px 0px #d4d5d6;
}
