<div class="app-modal">
    <div ng-show="step==1" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Step 1/5 - Terms of Service</h2>
            </div>
            <div>Please read them carefully.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">
            <form name="license_data-form" novalidate class="clearfix" ng-submit="goToStep2()" style="padding: 0 40px;">

                <input type="submit" ng-show="false">

            </form>
                        <span class="send-info-text flat-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                            aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                            elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                            consequat vitae, eleifend ac, enim.
                        </p><p></p> Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                            </p><p></p> Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p></span>
        </div>

        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="step=step+1;">Accept / Next Step</a>
            <a class="waves-effect btn-flat second-action" ng-click="close()">CANCEL</a>
        </div>
    </div>
    <div ng-show="step==2" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Step 2/5 Dapp Specifications</h2>
            </div>
            <div>Please set the dapp parameters below.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">
            <form name="dapp_data_form" novalidate class="clearfix" ng-submit="goToStep3(dapp_data_form.$invalid)" style="padding: 0 40px;">

                <input type="submit" ng-show="false">

                <div class="row clearfix" style="height: inherit;">

                    <div class="input-field">
                        <input ng-minlength=1
                               ng-maxlength=32 required ng-class="{'invalid': dapp_data_form.submitted && dapp_data_form.name.$invalid , 'valid':  dapp_data_form.submitted && dapp_data_form.name.$valid}"  id="name" name="name" type="text"  ng-model="newDapp.name">
                        <label for="name">Name</label>
                    </div>
                    <div class="error-newdapp-container"
                         ng-show="dapp_data_form.name.$invalid && dapp_data_form.submitted">
                        <small class="error"
                               ng-show="dapp_data_form.name.$error.required">
                            Your dapp name is required.
                        </small>
                        <small class="error"
                               ng-show="dapp_data_form.name.$error.maxlength">
                            Your dapp name cannot be longer than 32 characters
                        </small>
                    </div>
                </div>
                <div class="row clearfix" style="height: inherit;">
                    <div class="input-field materialize-textarea-big">
                        <textarea ng-maxlength=160  id="description"
                                  ng-class="{'invalid': dapp_data_form.submitted && dapp_data_form.description.$invalid , 'valid':  dapp_data_form.submitted && dapp_data_form.description.$valid}" name="description" class="materialize-textarea validate" ng-model="newDapp.description"></textarea>
                        <label for="description">Description</label>
                    </div>
                    <div class="error-newdapp-container"
                         ng-show="dapp_data_form.description.$invalid && dapp_data_form.submitted">
                        <small class="error"
                               ng-show="dapp_data_form.description.$error.maxlength">
                            Your dapp description cannot be longer than 160 characters
                        </small>
                    </div>
                </div>
                <div class="row clearfix" style="height: inherit;">
                    <div class="input-field">
                        <input ng-class="{'invalid': dapp_data_form.submitted && dapp_data_form.tags.$invalid , 'valid':  dapp_data_form.submitted && dapp_data_form.tags.$valid}" ng-maxlength=160 id="tags" type="text" name="tags" class="validate" ng-model="newDapp.tags">
                        <label for="tags">Tags (separated with comma)</label>
                    </div>
                    <div class="error-newdapp-container"
                         ng-show="dapp_data_form.tags.$invalid && dapp_data_form.submitted">
                        <small class="error"
                               ng-show="dapp_data_form.description.$error.maxlength">
                            Your dapp tags cannot be longer than 160 characters
                        </small>
                    </div>
                </div>

                <div class="row clearfix" style="height: inherit;">

                    <div ng-if="!urlSiaMode" class="file-field input-field">
                        <input ng-model="newDapp.icon" id="icon" class="file-path" style="margin-left: 250px;  width: calc(100%- 250px);" type="text"/>
                        <label for="icon" style="left:250px;">Icon url link</label>
                        <div class="btn btn-sky-blue" ng-click="changeUrlSiaMode()">
                            <span>{{getUlrSiaText()}}</span>
                        </div>
                    </div>

                    <div ng-if="!!urlSiaMode" class="file-field input-field materialize-textarea-big">
                        <textarea ng-model="newDapp.siaIcon" id="icon" class="materialize-textarea validate"
                                  style="margin-left: 250px;  width: calc(100%- 250px); max-height: 100px;"
                                  type="text"/>
                        <label for="icon" style="left:250px;">Icon SIA ASCII text</label>

                        <div class="btn btn-sky-blue" ng-click="changeUrlSiaMode()">
                            <span>{{getUlrSiaText()}}</span>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" style="height: inherit;">
                    <div class="input-field col s12">
                        <select ng-init="newDapp.category = 0" class="browser-default"
                                ng-model="newDapp.category"
                                ng-options="key for (key, value) in categories">
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="goToStep3(dapp_data_form.$invalid)">Next Step</a>
            <a class="waves-effect btn-flat second-action" ng-click="step=step-1;">Go back</a>
        </div>
    </div>
    <div ng-show="step==3 && !passmode && !checkSecondPass" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Step 3/5 - Choose Storage Solution</h2>
            </div>
            <div>Please choose between the available options below.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">
            <ul class="collection with-header dapp-collection">
                <li class="collection-header"><h4>Decentralized</h4></li>
                <li class="collection-item">
                    <input ng-click="selectRepository('sia')" type="checkbox"
                           ng-checked="repository=='sia' || repository==null"
                           class="filled-in violet" id="sia"/>
                    <label class="imaged" for="sia"><img src="/images/sia.png"></label>

                    <div style="margin-top: 10px; margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec
                        quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt.
                        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                        ligula,
                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                        feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
                        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                        Etiam
                        rhoncus.
                    </div>
                    <a class="btn btn-sky-blue waves-effect waves-light right">MORE INFO
                    </a></li>
            <!--    <li class="collection-item">
                    <input type="checkbox"
                           class="filled-in violet" id="starj"/>
                    <label for="starj">StarJ</label>

                    <div style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec
                        quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt.
                        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                        ligula,
                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                        feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
                        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                        Etiam
                        rhoncus.
                    </div>
                    <a class="btn btn-sky-blue waves-effect waves-light right">MORE INFO
                    </a></li>-->
            </ul>
            <ul class="collection with-header dapp-collection">
                <li class="collection-header"><h4>Centralized</h4></li>
                <li class="collection-item">
                    <input ng-click="selectRepository('git')" ng-checked="repository=='git'" type="checkbox"
                           class="filled-in violet" id="git"/>
                    <label class="imaged" for="git"><img src="/images/GitHub_Logo.png"></label>

                    <div style="margin-top: 10px;  margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean
                        commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec
                        quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt.
                        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                        ligula,
                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                        feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
                        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                        Etiam
                        rhoncus.
                    </div>
                    <a class="btn btn-sky-blue waves-effect waves-light right">MORE INFO
                    </a></li>


            </ul>
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="step=step+1;">Next Step</a>
            <a class="waves-effect btn-flat second-action" ng-click="step=step-1;">Go back</a>
        </div>
    </div>
    <div ng-show="step==4 && !passmode && !checkSecondPass" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Step 4/5 - Storage Specifications</h2>
            </div>
            <div>Please set the {{getRepositoryName()}} parameters below.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">
            <form ng-if="repository=='git'" ng-submit="passcheck()" style="padding-bottom: 30px;">

                <div class="field-padding">
                    <div class="input-field">
                        <input id="amount" type="text" ng-model="newDapp.git" >
                        <label for="amount">Git repository link</label>
                    </div>
                    <a class="btn btn-sky-blue waves-effect waves-light right">Check
                    </a>
                </div>
                <input type="submit" ng-show="false">
            </form>

            <form ng-if="repository=='sia'" ng-submit="passcheck()" style="padding-bottom: 30px;">

                <div class="field-padding">
                    <div class="input-field materialize-textarea-big">
                        <textarea id="textarea1" class="materialize-textarea" ng-model="newDapp.siaAscii" style="max-height:
                                  250px;"></textarea>
                        <label for="textarea1">Sia ASCII Code</label>
                    </div>

                    <a class="btn btn-sky-blue waves-effect waves-light right">Check
                    </a>
                </div>
                <input type="submit" ng-show="false">
            </form>
            <div class="modal-body bordered">
                <span class="send-info-text flat-text">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Curabitur ullamcorper ultricies nisi. Nam eget dui. Curabitur ullamcorper ultricies nisi. Nam eget dui.</span>
            </div>
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="step=step+1;">Next Step</a>
            <a class="waves-effect btn-flat second-action" ng-click="step=step-1;">Go back</a>
        </div>
    </div>
    <div ng-show="step==5 && !passmode && !checkSecondPass" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Step 5/5 - Confirmation</h2>
            </div>
            <div>Please check all data below and confirm dapp registration.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">
            <div class="field-padding" ng-show="errorMessage && (rememberedPassword)">
                                <span style="margin-top: 10px;
    margin-bottom: 0;" class="pass-error">{{errorMessage}}</span>
            </div>
            <ul class="collection dapp-collection">
                <li class="collection-item"><h4>Name:</h4> {{newDapp.name}}</li>
                <li class="collection-item"><h4>Description:</h4> {{newDapp.description}}</li>
                <li class="collection-item"><h4>Tags:</h4> {{newDapp.tags}}</li>
                <li class="collection-item"><h4>Category:</h4> {{getCategoryName(newDapp.category)}}</li>
                <li class="collection-item"><h4>Hosted at {{getRepositoryName()}}:</h4> {{getRepositoryText()}}</li>
            </ul>

        </div>
        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="passcheck()">Confirm</a>
            <a class="waves-effect btn-flat second-action" ng-click="goToStep4()">Go back</a>
        </div>
    </div>

    <div ng-show="passmode && !checkSecondPass" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Account Verification</h2>
            </div>
            <div>Please enter your passphrase below.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">

            <div class="modal-body">
                <form ng-submit="sendData(secretPhrase)">
                    <div class="field-padding">
                        <div class="input-field">
                            <input id="passPhrase" type="password" ng-model="secretPhrase"
                               ng-trim="false" autofocus
                                   ng-class="{'invalid': errorMessage}">
                            <label for="passPhrase">Your Passphrase</label>
                        </div>
                        <span class="pass-error" ng-show="errorMessage && !secondSecret">{{errorMessage}}</span>
                    </div>
                    <input type="submit" ng-show="false">
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="sendData(secretPhrase)">Confirm</a>
            <a class="waves-effect btn-flat second-action" ng-click="passcheck()">Go back</a>
        </div>
    </div>

    <div ng-show="checkSecondPass" class="modal modal-fixed-footer col-md-6"
         style="height: 80%; max-height: 80%; z-index: 1003; display: block; opacity: 1; /* transform: scaleX(1); */ top: 0;bottom: 0;">
        <div class="modal-header modal-iconed">
            <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span>
            </div>
        </div>
        <div class="modal-header clearfix">
            <div><h2>Account Verification</h2>
            </div>
            <div>Please enter your second passphrase below.
            </div>
        </div>
        <div class="modal-content pretty-scrolling" style="  height: calc(100% - 290px); padding: 0;  -webkit-box-shadow:none;
  box-shadow: none;">
            <div class="modal-body">
                <form ng-submit="sendData(secretPhrase, true)">
                    <div class="field-padding">
                        <div class="input-field">
                            <input id="secondPhrase" type="password" ng-model="secondPhrase" ng-trim="false"
                                   autofocus
                                   ng-focus="focus == 'secondPhrase'" ng-class="{'invalid': errorMessage}">
                            <label for="secondPhrase">Your Second Passphrase</label>
                        </div>
                        <span class="pass-error" ng-show="errorMessage">{{errorMessage}}</span>
                    </div>
                    <input type="submit" ng-show="false">
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn-flat primary-action" ng-click="sendData(secretPhrase, true)">SEND XCR</a>
            <a class="waves-effect btn-flat second-action" ng-click="passcheck(true)">BACK</a>
        </div>
    </div>
</div>

