<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="panel widget green">
            <div class="panel-body">
                <div class="wg-label">Balance</div>
                <div class="wg-data"><span class="strong">{{ unconfirmedBalance | feeFilter }}</span> XCR</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel widget blue">
            <div class="panel-body">
                <div class="wg-label">Contacts</div>
                <div class="wg-data"><span class="strong">64</span><span
                        class="wg-legend">12 this week</span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel widget violet">
            <div class="panel-body">
                <div class="wg-label">Dapps Installed</div>
                <div class="wg-data"><span class="strong">13</span><span
                        class="wg-legend">5 Updates Available</span></div>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="panel widget cloud">
            <div class="panel-body">
                <div class="wg-label">Crypti Client</div>
                <div class="wg-data"><span class="strong">v 0.1.2</span><span
                        class="wg-legend">Latest version</span></div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Latest Transactions</h2>

                <div class="more" ui-sref="main.transactions"><span class="sr-only">More</span></div>
            </div>
            <table id="transactions">
                <tr class="head">
                    <th>Transaction ID</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Time</th>
                    <th>Amount</th>
                </tr>
                <tr ng-repeat="transaction in transactions">
                    <td><a href="#">{{transaction.id}}</a></td>
                    <td><a href="#">{{transaction.senderId}}</a></td>
                    <td ng-show="transaction.type <= 1"><a href="#">{{ transaction.recipientId }}</a></td>
                    <td ng-show="transaction.type > 1"></td>
                    <td>{{transaction.timestamp | timestampFilter}}</td>
                    <td>{{transaction.amount / 100000000 | feeFilter}}</td>
                </tr>
                <tr ng-show="transactions.length == 0">
                    <td colspan="5">
                        No transactions yet
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
