<div class="top-margin">

</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel widget green">
            <div class="crypti-icon"></div>
            <div class="panel-body">
                <div class="wg-label">Balance</div>
                <div class="wg-data"><span class="strong">{{ unconfirmedBalance | feeFilter }}</span> XCR</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6  col-xs-12">
        <div class="panel widget blue">
            <div class="contacts-icon"></div>
            <div class="panel-body">
                <div class="wg-label">Contacts</div>
                <div class="wg-data"><span class="strong">64</span><span
                        class="wg-legend">12 this week</span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6  col-xs-12">
        <div class="panel widget violet">
            <div class="dapp-icon"></div>
            <div class="panel-body">
                <div class="wg-label">Dapps Installed</div>
                <div class="wg-data"><span class="strong">13</span><span
                        class="wg-legend">5 Updates Available</span></div>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6  col-xs-12">
        <div class="panel widget cloud">
            <div class="panel-body">
                <div class="wg-label">Crypti Client</div>
                <div class="wg-data"><span class="strong">v 0.1.2</span><span
                        class="wg-legend">Latest version</span></div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-sm-12  col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Latest Transactions</h2>

                <div class="more" ui-sref="main.transactions"><span class="sr-only">More</span></div>
            </div>
            <table id="transactions">
                <thead>
                <tr class="head">
                    <th>Transaction ID</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Time</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transactions">
                    <td><a href="#" ng-click="transactionInfo(transaction)">{{transaction.id}}</a></td>
                    <td><a href="#" ng-click="userInfo(transaction.senderId)">{{transaction.senderId}}</a></td>
                    <td ng-show="transaction.type <= 1"><a href="#" ng-click="userInfo(transaction.recipientId)">{{transaction.recipientId}}</a></td>
                    <td ng-show="transaction.type > 1"></td>
                    <td>{{transaction.timestamp | timestampFilter}}</td>
                    <td>{{transaction.amount / 100000000 | feeFilter}}</td>
                </tr>
                <tr ng-show="transactions.length == 0">
                    <td colspan="5">
                        No transactions yet
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="row">


    <div class="col-md-8 col-sm-12  col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Dapp News</h2>

                <div class="more"><span class="sr-only">More</span></div>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/images/samples/RollerCoaster.png"
                                     alt="RollerCoaster Tycoon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">RollerCoaster Tycoon</h4>
                            I'm a one-line description of this Dapp
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/images/samples/RollerCoaster.png"
                                     alt="RollerCoaster Tycoon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">RollerCoaster Tycoon</h4>
                            I'm a one-line description of this Dapp
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/images/samples/RollerCoaster.png"
                                     alt="RollerCoaster Tycoon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">RollerCoaster Tycoon</h4>
                            I'm a one-line description of this Dapp
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12  col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Latest Messages</h2>

                <div class="more"><span class="sr-only">More</span></div>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/images/samples/account.png"
                                     alt="RollerCoaster Tycoon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Patrick Collins</h4>
                            Yes I think it´s the best way to go
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/images/samples/account.png"
                                     alt="RollerCoaster Tycoon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Patrick Collins</h4>
                            Yes I think it´s the best way to go
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/images/samples/account.png"
                                     alt="RollerCoaster Tycoon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Patrick Collins</h4>
                            Yes I think it´s the best way to go
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>
