<div id="left-nav">
    <a ui-sref="main.account">
        <div id="logo"></div>
    </a>
    <ul id="menu">
        <li ui-sref-active="active"><a ui-sref="main.account">
            <div id="account-icon"></div>
            <span class="menu-text">Account</span></a></li>
        <li ui-sref-active="active"><a ui-sref="main.forging">
            <div id="forging-icon"></div>
            <span class="menu-text">Forging</span></a></li>
        <ul id="submenu">
            <li ui-sref-active="active"><a ui-sref="main.delegates">
                <div id="delegates-icon"></div>
                <span class="menu-text">Delegates</span></a></li>
            <li ui-sref-active="active">
                <div id="votes-icon"></div>
                <a ui-sref="main.votes">
                    <span class="menu-text">My Votes</span></a>
            </li>
        </ul>
        <li ui-sref-active="active"><a ui-sref="main.blockchain">
            <div id="blockchain-icon"></div>
            <span class="menu-text">Blockchain</span></a></li>
    </ul>
    <li id="logout-item"><a href="/" id="logout">
        <div id="logout-icon"></div>
        <span class="menu-text">Logout</span></a></li>
    <div id="inc"></div>
</div>
<div id="right-part">
    <div ui-view class="partials-rules"></div>
</div>
<div ng-show="sync == true" class="syncLabel" title="Synchronization running...">
    <p ng-show="heightToSync > 0">Synchronization: {{ height }}/{{ heightToSync }}, wait please...</p>

    <p ng-show="heightToSync <= 0">Synchronization: {{ height }}, wait please...</p>
</div>