<div id="page-nav">
    <ul class="nav nav-underline pull-left">
        <li role="presentation" ui-sref-active="active"><a href="#" ui-sref="main.forging">Forging</a></li>
        <li role="presentation" ui-sref-active="active"><a href="#" ui-sref="main.delegates">Delegates</a></li>
        <li role="presentation" ui-sref-active="active"><a href="#" ui-sref="main.votes">My votes</a></li>
    </ul>
</div>


<div class="top-margin">
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="info-panel">
            <span class="plain-text pull-left">
             {{voteList.length}} out of {{countStandby + countTop}} Delegates selected
            </span>
            <ul class="nav nav-info pull-right">
                <li class="list-delegate">
                    <a href="#"><span class="selection-icon"></span>View selection

                    </a>
                    <ul class="list-group" ng-class="{'empty': voteList.length < 1}">
                        <li class="list-group-item" ng-repeat="(key,item) in voteList.list"
                            ng-click="voteList.vote(key, item)">{{item}}</li>

                    </ul>
                </li>
                <li><a href="#" ng-click="vote()"><span class="vote-icon"></span>vote</a></li>
            </ul>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>Top Delegates</h2>

                <div class="plain-text">{{countTop}} in Total</div>
            </div>
            <table ng-table="tableTopDelegates" border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr ng-repeat="delegate in $data"
                    ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey))}">
                    <td data-title="''" class="no-select">
                           <span class="app-chekbox"
                                 ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                        <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)"
                              ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"
                              ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span>
                    </td>
                    <td data-title="'Rank'" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="'Name'" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="'Crypti Address'"><a href="#">{{delegate.address}}</a></td>
                    <td data-title="'Uptime'">{{(delegate.productivity)}}%</td>
                    <td data-title="'Approval'">{{getApproval(delegate.vote) | number: 2}}%</td>
                    <td data-title="">
                        <div class="dropdown-more-group"><span class="table-more-actions"><span
                                class="dots"></span></span>
                            <ul class="list-group">
                                <li class="list-group-item"><a htef="#">Send XCR</a></li>
                                <li class="list-group-item bordered"><a htef="#">Send Message</a></li>
                                <li class="list-group-item"><a htef="#">Copy Address</a></li>
                                <li class="list-group-item bordered"><a htef="#">Copy Name</a></li>
                                <li class="list-group-item"><a htef="#">Add as Favorite</a></li>
                                <li class="list-group-item"><a htef="#">See Voters</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingTop && (!$data || $data.length == 0)">
                    <td colspan="7">
                        No delegates
                    </td>
                </tr>
                <tr ng-show="loadingTop">
                    <td colspan="7">
                        Loading...
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default paginated">
            <div class="panel-heading"><h2>Standby Delegates</h2>

                <div class="plain-text">{{countStandby}} in Total</div>
            </div>
            <table ng-table="tableStandbyDelegates" border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr ng-repeat="delegate in $data"
                    ng-class="{'voted' : (delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey))}">
                    <td data-title="''" class="no-select">
                           <span class="app-chekbox"
                                 ng-show="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"></span>
                        <span class="app-chekbox" ng-click="voteList.vote(delegate.publicKey, delegate.username)"
                              ng-hide="delegates.voted(delegate.publicKey) || unconfirmedTransactions.inList(delegate.publicKey)"
                              ng-class="{'unchecked':!voteList.inList(delegate.publicKey), 'checked':voteList.inList(delegate.publicKey)}"></span>
                    </td>
                    <td data-title="'Rank'" sortable="'rate'">{{delegate.rate}}</td>
                    <td data-title="'Name'" sortable="'username'" class="username">{{delegate.username}}</td>
                    <td data-title="'Crypti Address'"><a href="#">{{delegate.address}}</a></td>
                    <td data-title="'Uptime'">{{(delegate.productivity)}}%</td>
                    <td data-title="'Approval'">{{getApproval(delegate.vote) | number: 2}}%</td>
                    <td data-title="">
                        <div class="dropdown-more-group"><span class="table-more-actions"><span
                                class="dots"></span></span>
                            <ul class="list-group">
                                <li class="list-group-item"><a htef="#">Send XCR</a></li>
                                <li class="list-group-item bordered"><a htef="#">Send Message</a></li>
                                <li class="list-group-item"><a htef="#">Copy Address</a></li>
                                <li class="list-group-item bordered"><a htef="#">Copy Name</a></li>
                                <li class="list-group-item"><a htef="#">Add as Favorite</a></li>
                                <li class="list-group-item"><a htef="#">See Voters</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loadingTop && (!$data || $data.length == 0)">
                    <td colspan="7">
                        No delegates
                    </td>
                </tr>
                <tr ng-show="loadingTop">
                    <td colspan="7">
                        Loading...
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>