<div id="page-nav">
    <ul class="nav nav-underline pull-left">
        <li ui-sref-active="active"><a href="#" ui-sref="main.forging">Forging</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="main.delegates">Delegates</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="main.votes">My votes</a></li>
    </ul>
    <ul class="nav nav-underline pull-right">
        <li><a href="#" class="bold-text" ng-click="registrationDelegate()">delegate registration</a></li>
    </ul>
</div>

<div class="top-margin">
</div>

<div class="row">
        <div class="col-xs-12">
            <div class="info-panel">
            <span class="title">
                Max Super Node
            </span>
               <span class="plain-text">
              Registered on 27/03/2015 at 08:40:21
            </span>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="light-graph">
                <div class="light-graph-heading">XCR Earned</div>
                <div class="light-graph-body">
                    <div class="chart-legend">{{totalForged / 100000000 | feeFilter }}<span
                            class="small-text">XCR</span>
                    </div>
                    <canvas id="total-forged" class="chart chart-doughnut" data="graphs.totalForged.values"
                            labels="graphs.totalForged.labels" options="graphs.totalForged.options"
                            colours="graphs.totalForged.colours"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="light-graph">
                <div class="light-graph-heading">Rank</div>
                <div class="light-graph-body">
                    <div class="chart-legend">{{rank}}
                    </div>
                    <canvas id="rank" class="chart chart-doughnut" data="graphs.rank.values"
                            labels="graphs.rank.labels" options="graphs.rank.options"
                            colours="graphs.rank.colours"></canvas>
                </div>
            </div>
        </div>
        <div class="clearfix visible-md visible-sm visible-xs"></div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="light-graph">
                <div class="light-graph-heading">Uptime</div>
                <div class="light-graph-body">
                    <div class="chart-legend">{{uptime}} %
                    </div>
                    <canvas id="uptime" class="chart chart-doughnut" data="graphs.uptime.values"
                            labels="graphs.uptime.labels" options="graphs.uptime.options"
                            colours="graphs.uptime.colours"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="light-graph">
                <div class="light-graph-heading">Approval</div>
                <div class="light-graph-body">
                    <div class="chart-legend">{{approval}} %
                    </div>
                    <canvas id="approval" class="chart chart-doughnut" data="graphs.approval.values"
                            labels="graphs.approval.labels" options="graphs.approval.options"
                            colours="graphs.approval.colours"></canvas>
                </div>
            </div>
        </div>

</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Forged Blocks</h2>
            </div>
            <table id="blocks">
                <thead>
                <tr class="head">
                    <th>Height</th>
                    <th>Block ID</th>
                    <th>Time</th>
                    <th>Total Fee</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in blocks">
                    <td>{{item.height}}</td>
                    <td><a href="#" ng-click="blockInfo(item)">{{item.id}}</a></td>
                    <td>{{item.timestamp | timestampFilter}}</td>
                    <td>{{item.totalFee/100000000 | feeFilter}}</td>
                </tr>
                </tbody>
                <tr ng-show="!loading && !blocks || blocks.length == 0">
                    <td colspan="3">
                        No blocks generated
                    </td>
                </tr>
                <tr ng-show="loading">
                    <td colspan="4">
                        Loading...
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

