<div id="pass" st-blurred-dialog-region>
    <div id="center">
        <div id="logo-grey"></div>
        <div id="login-form">
            <form autocomplete="off">
                <input type="password" id="enter" placeholder="Enter your password here" ng-model="pass"
                       ng-trim="false" autofocus ng-disabled="logging">
                <p id="message">For security reasons, we recommend passwords as long as 50 characters.</p>

                <button type="submit" class="button green" id="login" ng-click="login(pass)" ng-disabled="logging">
                    Login
                </button>
                <p class="error">{{errorMessage}}</p>
            </form>
        </div>
    </div>

    <div class="cloud" ng-click="peerSettings()"></div>
    <div class="edit_peer" ng-show="editingPeer">
        <form name="settingsForm" autocomplete="off">
            <span id="label">Custom peer</span>
            <input type="text" name="peer" id="peer" placeholder="Enter peer. Use IP:PORT format"
                   ng-model="customPeer"
                   ng-disabled="bestPeer"
                   ng-trim="true" autofocus ng-class="{'err' : addressError}">
            <p class="error" ng-show="peerError">{{peerError}}</p>
            <span style="display: none;">{{bestPeer}}</span>
            <input type="checkbox" id="bestPeer" name="check" ng-model="bestPeer"/>
            <label for="bestPeer">Automatic peer.</label>
            <button type="submit" class="button green small" id="savePeer"
                    ng-click="savePeerSettings(customPeer, bestPeer)">
                Save
            </button>
        </form>
    </div>
</div>

<st-blurred-dialog-overlay></st-blurred-dialog-overlay>