<div id="wrapper" ng-controller="appController" ng-class="{'toggled': !toggled}">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <a ui-sref="main.account">
            <div id="logo"></div>
        </a>

        <div class="account-block">
            <div class="icon">
                <img src="images/samples/account.png">
            </div>
            <span class="name" ng-show="username">Welcome back, {{username}}</span>
            <span class="name name-add" ng-click="userSettings()"
                  ng-hide="username">Welcome, click to edit profile</span>
            <span class="address">{{address}}</span>
        </div>
      <!--  <div class="white-glow"></div>-->
        <ul id="menu">
            <li ng-show="showMenuItem('main.dashboard')" ui-sref-active="active"><a ui-sref="main.dashboard"
                                                                                    class="waves-effect waves-blue">
                <div class="nav-icon" id="dashboard-icon"></div>
                <span class="menu-text">Dashboard</span></a></li>
            <li ng-show="showMenuItem('main.contacts')" ui-sref-active="active"><a ui-sref="main.contacts"
                                                                                   class="waves-effect waves-blue">
                <div class="nav-icon" id="contacts-icon"></div>
                <span class="menu-text">Contacts</span></a></li>
            <li ng-show="showMenuItem('main.conversations')" ui-sref-active="active"><a ui-sref="main.conversations"
                                                                                        class="waves-effect waves-blue">
                <div class="nav-icon" id="conversations-icon"></div>
                <span class="menu-text">Conversations</span></a></li>
            <li ng-show="showMenuItem('main.dappstore')" ui-sref-active="active"><a ui-sref="main.dappstore"
                                                                                    class="waves-effect waves-blue">
                <div class="nav-icon" id="dappstore-icon"></div>
                <span class="menu-text">Dapp Store</span></a></li>
            <li ng-show="showMenuItem('main.forging')" ui-sref-active="active"><a ui-sref="main.forging"
                                                                                  class="waves-effect waves-blue">
                <div class="nav-icon" id="forging-icon"></div>
                <span class="menu-text">Forging</span><i
                    ng-click="collapseMenu()"
                    stop-event
                    class="vertical-text right submenu-collapsing"
                    ng-class="{'mdi-hardware-keyboard-arrow-down': subForgingCollapsed, 'mdi-hardware-keyboard-arrow-up':!subForgingCollapsed}"></i></a>
            </li>
            <ul id="submenu" ng-hide="subForgingCollapsed">
                <li ng-show="showMenuItem('main.delegates')" ui-sref-active="active"><a ui-sref="main.delegates"
                                                                                        class="waves-effect waves-blue">
                    <div class="nav-icon" id="delegates-icon"></div>
                    <span class="menu-text">Delegates</span></a></li>
                <li ng-show="showMenuItem('main.votes')" ui-sref-active="active">
                    <a ui-sref="main.votes" class="waves-effect waves-blue">
                        <div class="nav-icon" id="myvotes-icon"></div>
                        <span class="menu-text">My Votes</span></a>
                </li>
            </ul>
            <li ng-show="showMenuItem('main.blockchain')" ui-sref-active="active"><a ui-sref="main.blockchain"
                                                                                     class="waves-effect waves-blue">
                <div class="nav-icon" id="blockchain-icon"></div>
                <span class="menu-text">Blockchain</span></a></li>
            <li ng-show="showMenuItem('main.network')" ui-sref-active="active"><a ui-sref="main.network"
                                                                                  class="waves-effect waves-blue">
                <div class="nav-icon" id="network-icon"></div>
                <span class="menu-text">Network</span></a></li>

        </ul>
        <div id="inc"></div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="header-wrapper">
            <div class="nav-bar" id="header">
                <button type="button" class="toggle-menu" ng-click="toggleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="title"><span class="title-icon" ng-show="view.page.previos" ng-click="goToPrevios()">
            <span class="sr-only">Go to previos page</span></span>{{view.page.title}}</h1>
                <span class="forging-state" ng-show="view.forgingState">{{view.forgingState}}</span>

                <div id="top-menu" class="valign-wrapper">
                <span id="balance">
                {{unconfirmedBalance | xcrFilter}} XCR
            </span>
                    <a class="btn btn-sky-blue waves-effect waves-light left-margin-20" ng-click="sendCrypti()"><i
                            class="mdi-content-send left"></i>SEND
                    </a>
                    <!--<div class="notifications left-margin-20 valign-wrapper" dropdown
                         is-open="moreNotificationsStatus.isopen"><span dropdown-toggle>9</span>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Incoming Payments<span class="badge meent">1</span></a></li>
                            <li><a href="#">Messages<span class="badge blue">5</span></a></a></li>
                            <li><a href="#">Contact Request<span class="badge cloud">2</span></a></a></li>
                            <li><a href="#">Dapp Response<span class="badge violet">1</span></a></a></li>
                        </ul>
                    </div>-->
                    <div class="mini-chart valign-wrapper" ng-show="syncState!=0">
                        <div class="mini-chart-label">{{syncState}}%</div>
                        <canvas id="total-forged" class="chart chart-doughnut" data="loading.values"
                                labels="loading.labels" options="loading.options"
                                colours="loading.colours"></canvas>
                    </div>
                    <div class="more-down left-margin-20" dropdown is-open="moreDropdownStatus.isopen">
                        <i class="mdi-navigation-more-vert" dropdown-toggle></i>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="myUserInfo()">My Profile</a></li>
                            <li ng-if="!secondPassphrase"><a href="#" ng-click="setSecondPassphrase()">2nd
                                Passphrase</a></li>
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-bar" ng-show="view.bar.showTransactionsSearchBar">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="mdi-action-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for transactions (Transaction ID, Sender address, Recipient address)"
                           ng-model="searchTransactions.searchForTransaction">
                       <span class="input-group-addon spinner-addon">
                            <div class="preloader-wrapper" ng-class="{'active': searchTransactions.inSearch}">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                    </span>
                </div>
            </div>

            <div class="search-bar" ng-show="view.bar.showBlockSearchBar">
                <div class="input-group">
                    <span class="input-group-addon"><i class="mdi-action-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search for blocks"
                           ng-model="searchBlocks.searchForBlock">
                         <span class="input-group-addon spinner-addon">
                            <div class="preloader-wrapper" ng-class="{'active': searchBlocks.inSearch}">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                    </span>
                </div>
            </div>

            <div id="page-nav" ng-if="view.bar.forgingMenu">
                <ul class="nav nav-underline pull-left">
                    <li ui-sref-active="active"><a href="#" ui-sref="main.forging">Forging</a></li>
                    <li ui-sref-active="active"><a href="#" ui-sref="main.delegates">Delegates</a></li>
                    <li ui-sref-active="active"><a href="#" ui-sref="main.votes">My votes ({{myVotesCount||'0'}})</a>
                    </li>
                </ul>
                <ul class="nav nav-underline pull-right registration" ng-show="!delegate.username">
                    <li><a href="#" class="bold-text" ng-click="registrationDelegate()">delegate registration</a></li>
                </ul>
                <a class="btn-floating btn-large waves-effect waves-light green" ng-click="disableForging()"
                   ng-show="delegate.username && forging" style="
    position: absolute;
    top: 96px;
    right: 30px;
"><i class="factory"></i></a>
                <a class="btn-floating btn-large waves-effect waves-light red" ng-click="enableForging()"
                   ng-show="(delegate.username && !forging)"
                   style="
    position: absolute;
    top: 96px;
    right: 30px;
"><i class="factory"></i></a>
            </div>
            <div id="page-nav" ng-if="view.bar.showContactsBar">
                <ul class="nav nav-underline pull-left">
                    <li ui-sref-active="active"><a href="#" ui-sref="main.contacts">Contacts</a></li>
                    <li ui-sref-active="active"><a href="#"
                                                   ui-sref="main.pending">Pending({{contacts.followersCount}})</a></li>
                </ul>
                <a ng-click="addContact()" class="btn-floating btn-large waves-effect waves-light green" style="
    position: absolute;
    right: 30px;
  top: 96px;
"><i class="mdi-content-add"></i></a>
            </div>
        </div>
        <div class="container-fluid" ui-view></div>

    </div>
</div>

<!-- /#page-content-wrapper -->
<script type="text/ng-template" id="custom/pager">
    <ul class="pagination ng-table-pagination">
        <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages"
            ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href=""><i
                    class="mdi-hardware-keyboard-arrow-left"></i></a>
            <a ng-switch-when="first"
               ng-click="params.page(page.number)" href=""><span
                    ng-bind="page.number"></span></a>
            <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
            <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
            <a ng-switch-when="last"
               ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href=""><i
                    class="mdi-hardware-keyboard-arrow-right"></i></a>
        </li>
    </ul>
</script>
</div>


