<div id="pass">
    <div class="pass-banner"></div>
    <div class="pass-bottom">
        <div class="pass-window">
            <div class="pass-window-icon"></div>
            <form class="clearfix pass-window-form" _lpchecked="1" ng-submit="login(pass, rememberPassword)">
                <div class="input-field ">
                    <input id="password" type="password" ng-model="pass" ng-trim="false" autofocus>
                    <label for="password">Your Passphrase</label>
                </div>
                <span class="pass-error" ng-show="errorMessage">{{errorMessage}}</span>

                <div class="switch blue-switch margin">
                    <label>
                        <input type="checkbox" ng-model="rememberPassword">
                        <span class="lever"></span>
                        Remember during this session
                    </label>
                </div>
                <div class="pull-right buttons-panel">
                    <a class="btn btn-white waves-effect btn-marging" ng-click="newUser()">NEW ACCOUNT
                    </a>
                    <a class="btn btn-blue waves-effect waves-light" ng-click="login(pass, rememberPassword)"
                       ng-disabled="!pass">SIGN IN
                    </a>
                </div>
            </form>

        </div>
        <div class="pass-footer">Crypti © 2015. All Rights Reserved.
        </div>
    </div>
</div>
